<?xml version="1.0"?>
<!--
 * @package   Gopersonal_Magento
 * @author    Shahid Taj
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!-- Define virtual types for the classes that may not exist -->
    <virtualType name="Gopersonal\Magento\Block\LayeredNavigation\RenderLayeredVirtual" type="Magento\Framework\View\Element\Template">
        <arguments>
            <argument name="template" xsi:type="string">Magento_Catalog::layer/view.phtml</argument>
        </arguments>
    </virtualType>
    
    <!-- Here custom layer class extends the default Magento layer class.
         That class instantiates a number of interfaces. -->
    <preference for="Magento\Catalog\Model\Layer" type="Gopersonal\Magento\Model\Layer" />
    <preference for="Magento\Catalog\Model\Layer\ContextInterface" type="Magento\Catalog\Model\Layer\Context" />
    <preference for="Magento\Catalog\Model\Layer\ItemCollectionProviderInterface" type="Magento\Catalog\Model\Layer\Category\ItemCollectionProvider" />
    <preference for="Magento\Catalog\Model\Layer\StateKeyInterface" type="Magento\Catalog\Model\Layer\Category\StateKey" />
    <preference for="Magento\Catalog\Model\Layer\CollectionFilterInterface" type="Magento\Catalog\Model\Layer\Category\CollectionFilter" />
    <preference for="Magento\Catalog\Model\Layer\FilterableAttributeListInterface" type="Magento\Catalog\Model\Layer\Category\FilterableAttributeList" />
    <preference for="Magento\Catalog\Model\Layer\AvailabilityFlagInterface" type="Magento\Catalog\Model\Layer\Category\AvailabilityFlag" />
    <!-- <preference for="Magento\Catalog\Model\ResourceModel\Layer\Filter\Price" type="Gopersonal\Magento\Model\ResourceModel\Layer\Filter\PriceFilter" /> -->
    
    <!-- Use the virtual type as a fallback for Amasty\Shopby\Block\Navigation\SwatchRenderer -->
    <preference for="Amasty\Shopby\Block\Navigation\SwatchRenderer" type="Gopersonal\Magento\Block\LayeredNavigation\RenderLayeredVirtual" />
    
    <type name="Gopersonal\Magento\Observer\BeforeSearchRequest">
        <arguments>
            <argument name="request" xsi:type="object">Magento\Framework\App\RequestInterface</argument>
        </arguments>
    </type>

    <!-- <type name="Magento\Catalog\Model\Product">
        <plugin name="gopersonal_product_url" type="Gopersonal\Magento\Plugin\ProductUrlPlugin" />
    </type> -->
</config>
