<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!-- Your existing preferences -->
    <preference for="Magento\Catalog\Model\Layer" type="Gopersonal\Magento\Model\Layer" />
    <preference for="Magento\Catalog\Model\Layer\ContextInterface" type="Magento\Catalog\Model\Layer\Context" />
    <preference for="Magento\Catalog\Model\Layer\ItemCollectionProviderInterface" type="Magento\Catalog\Model\Layer\Category\ItemCollectionProvider" />
    <preference for="Magento\Catalog\Model\Layer\StateKeyInterface" type="Magento\Catalog\Model\Layer\Category\StateKey" />
    <preference for="Magento\Catalog\Model\Layer\CollectionFilterInterface" type="Magento\Catalog\Model\Layer\Category\CollectionFilter" />
    <preference for="Magento\Catalog\Model\Layer\FilterableAttributeListInterface" type="Magento\Catalog\Model\Layer\Category\FilterableAttributeList" />
    <preference for="Magento\Catalog\Model\Layer\AvailabilityFlagInterface" type="Magento\Catalog\Model\Layer\Category\AvailabilityFlag" />

    <!-- Search Engine configuration -->
    <preference for="Magento\Search\Model\SearchEngine" type="Gopersonal\Magento\Plugin\SearchEngine" />
    <preference for="Magento\Framework\Search\AdapterInterface" type="Magento\Elasticsearch\SearchAdapter\Adapter" />

    <type name="Gopersonal\Magento\Plugin\SearchEngine">
        <arguments>
            <argument name="engineResolver" xsi:type="object">Magento\Framework\Search\EngineResolver</argument>
            <argument name="adapter" xsi:type="object">Magento\Elasticsearch\SearchAdapter\Adapter</argument>
            <argument name="intervalFactory" xsi:type="object">Magento\Framework\Search\Dynamic\IntervalFactory</argument>
        </arguments>
    </type>

    <type name="Gopersonal\Magento\Observer\BeforeSearchRequest">
        <arguments>
            <argument name="request" xsi:type="object">Magento\Framework\App\RequestInterface</argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="gopersonal_product_url" type="Gopersonal\Magento\Plugin\ProductUrlPlugin" />
    </type>

    <type name="Magento\Catalog\Model\Layer">
        <plugin name="debug_layer_collection" type="Gopersonal\Magento\Plugin\LayerPlugin" />
    </type>

</config>