<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogSearch\Model\Search\IndexBuilder">
        <plugin name="gopersonal_custom_search_result" type="Gopersonal\Magento\Plugin\CustomSearchResultPlugin" sortOrder="10"/>
    </type>
</config>
