<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="gopersonal_add_to_cart" instance="Gopersonal\Magento\Observer\AddToCart" />
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="gopersonal_update_cart" instance="Gopersonal\Magento\Observer\UpdateCart" />
    </event>
    <event name="sales_quote_remove_item">
        <observer name="gopersonal_remove_from_cart" instance="Gopersonal\Magento\Observer\RemoveFromCart" />
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="vendor_module_update_cart_items" instance="Gopersonal\Magento\Observer\UpdateCartItems" />
    </event>
</config>
