<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="gopersonal" frontName="gopersonal">
            <module name="Gopersonal_Magento" />
        </route>
        <route id="gp_firebase" frontName="gp-firebase">
            <module name="Gopersonal_Magento" before="Magento_Backend" />
        </route>
        <route id="search" frontName="gp-search">
            <module name="Gopersonal_Magento"/>
        </route>
        <route id="searchresult" frontName="searchresult">
            <module name="Gopersonal_Magento"/>
        </route>
    </router>
</config>
